nav {
    position: fixed;
    width: 100vw;
    
}
.Barra_Superior {
    display: flex;
    flex-direction: row;
    background-color: #708090;
    width: 100%;
    min-width: 300px;
    height: 10vh;
    min-height: 55px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}
.Usuario_Juego_Botones {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 1%;
}
#Input_Nombre_Usuario {
    flex: 1;
    width: 90%;
    min-width: 25px;
    max-width: 500px;
    background-color: white;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: text;
    transition: background-color 0.3s, transform 0.3s;
    box-sizing: border-box;
}

#Input_Nombre_Usuario:focus {
    background-color: white;
    transform: scale(1.02);
    outline: none;
}

#Input_Nombre_Usuario:active {
    background-color: white;
    transform: scale(0.5);
}

#Nombre_Usuario{
    display: none;
    color: black(233, 121, 255);
    margin-left: 15vw;
    margin-right: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    max-width: 200px;
    min-width: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
}

#Acceso_Directo_Instrucciones {
    width: 30%;
    flex: 1;
    text-align: end;
    padding-right: 5%;
}



#Contenido_Footer_Instrucciones_Titulo_To_Footer:link{
    color: rgb(233, 144, 0);
    background-color: transparent;
    text-decoration: none;
}
#Contenido_Footer_Instrucciones_Titulo_To_Footer:visited {
    color: black;
    font-weight: bolder;
    background-color: transparent;
    text-decoration: none;
}
#Contenido_Footer_Instrucciones_Titulo_To_Footer:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
#Contenido_Footer_Instrucciones_Titulo_To_Footer:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}