body {
    margin: 0px;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    min-height:100vh;
    flex-direction:column;
}

.dragging {
    opacity: 0.5;
}

.dragover {
    background-color: rgb(69, 97, 174) !important;
    text-align: center;
}
.container {
    background-image: url('../../assets/fondo.png'); 
    background-size: cover;        /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}
img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}