footer {
    position:relative;
    vertical-align: bottom;
    bottom: 0;
    width: 100%;
    margin-top: -59%;
    background-color: rgb(172, 164, 164, 40%);
}
#Contenido_Footer_Instrucciones_Titulo{
    font-size: 1.2rem;
    text-align:center;
}
#Contenido_Footer_Texto{
    font-size: 0.8rem;
    text-align:justify;
}
