body {
    margin: 0px;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    min-height:100vh;
    flex-direction:column;
}

.dragging {
    opacity: 0.5;
}

.dragover {
    background-color: rgb(69, 97, 174) !important;
    text-align: center;
}