@media only screen and (max-width: 549px){
    #Barcos_Lado{
        min-height: 110px;
        display: grid;
        grid-template: 
            "PA PA PA PA PA AC AC AC AC" 50px
            "CR CR CR SB SB SB DT DT ." 50px
    }
    .Barco{
        max-height: 45px;
        aspect-ratio: 1;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    #Portaaviones{
        grid-area: PA;
        max-width: 225px;
    }
    #Acorazado{
        grid-area: AC;
        max-width: 180px;
    }
    #Crucero{
        grid-area: CR;
        max-width: 135px;
    }
    #Submarino{
        grid-area: SB;
        max-width: 135px;
    }
    #Destructor{
        grid-area: DT;
        max-width: 90px;
    }
}