#Menu_Holder {
    display: block;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    padding-top: 60px;
    width: 100%;
    min-height: 100vh;
}
#Ventana_Principal_Juego {
    flex: 1;
    padding-top: 60px;
    display: none;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
#Aside{
    display: flex;
    flex-direction: column;
}
/*Need js to work around ships size relative to board*/
#Barcos_Lado{
    background-color: rgb(184, 164, 164, 90%);
    flex: 1;
    margin-left: 0;
    min-width: 180px;
    height: auto;
}
.Barco{
    max-height: 60px;
    min-height: 30px;
    aspect-ratio: 1;
    height: auto;
    margin-right: 5px;
    
}
#Portaaviones {
    max-width: 300px;
    min-width: 150px;
    width: 100%; 
}
#Acorazado {
    max-width: 240px;
    min-width: 120px;
    width: calc(100% - 20%);
}
#Crucero {
    max-width: 180px;
    min-width: 90px;
    width: calc(100% - 40%);
}
#Submarino {
    max-width: 180px;
    min-width: 90px;
    width: calc(100% - 40%);
}
#Destructor {
    max-width: 120px;
    min-width: 60px;
    width: calc(100% - 60%);
}
#Botones_In_Game{
    min-width: 180px;
    background-color: rgb(204, 193, 219);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_accion_juego{
    max-width: 250px;
    min-width: 75px;
    max-height: 80px;
    min-height: 40px;
    background-color: rgb(3, 252, 177);
    font-weight: bold;
    font-family: Palatino, URW Palladio L, serif;
    font-size: large;
    border-radius: 10px;
    margin: 5px;
}
.tableros{
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    padding-left: 10px;
    flex-wrap: wrap;
    background-image: url(../BattleShip_Lab_Assets/Fondo_Agua.jpg);
    min-width: 360px;
}
.Board_Unity {
    margin-top: 10px;
    flex: 1;
    max-width: 660px;
    min-width: 330px;
    margin-right: 5%;
}
.Board_Title_Card {
    text-align: center;
    margin: 0px;
    height: auto;
    padding-left: 0px;
    margin-bottom: 10px;
    color:rgb(255, 72, 0);
    font-size: 1.5rem;
    font-weight: bold;
}
.Board{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    row-gap: 0;
    column-gap: 0;
}
.casilla{
    border: 1px solid black;
    aspect-ratio: 1;
    min-height: 30px;
    min-width: 30px;
    max-height: 60px;
    max-width: 60px;
    padding: none;
    margin: none;
    background-color: rgb(240, 248, 255, 75%);
}
.casilla:hover{
    background-color: rgba(142, 242, 255, 0.7);
    cursor: pointer;
}
.hit_space{
    background-color: rgb(212, 7, 7);
}
.water_space{
    background-color: rgb(153, 144, 144);
}
.BLANK{
    border: none;
    text-align: center;
    place-self: center;
    font-weight: bolder;
    justify-self: stretch;
}
.BLANK:hover{
    background-color: rgb(240, 248, 255, 75%);
    cursor: default;
}
.casilla_vacia{
    border: none;
    text-align: center;
    place-self: center;
    font-weight: bolder;
    justify-self: stretch;
    background-color: transparent;
}
.casilla_vacia:hover{
    background-color: transparent;
    cursor: default;
}

.parte-barco {
    width: 100%;      /* Ajusta el ancho de la imagen al 100% del div */
    height: 100%;     /* Ajusta la altura de la imagen al 100% del div */
    object-fit: contain;  /* Asegura que la imagen se ajuste correctamente sin deformarse */
}

.vertical {
    transform: rotate(90deg);  /* Rota la imagen 90 grados */
    transform-origin: center;  /* Asegura que la rotación se haga desde el centro */
}