#Ventana_Principal_Juego {
    flex: 1;
    padding-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
/*Need js to work around ships size relative to board*/
#Barcos_Lado{
    background-color: rgb(184, 164, 164, 90%);
    flex: 1;
    margin-left: 0;
    min-width: 180px;
}
#Portaaviones {
    max-width: 300px;
    max-height: 60px;
    min-width: 150px;
    min-height: 30px;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}
#Acorazado {
    max-width: 240px;
    max-height: 60px;
    min-width: 120px;
    min-height: 30px;
    width: calc(100% - 20%);
    height: auto;
    aspect-ratio: 1;
}
#Crucero {
    max-width: 180px;
    max-height: 60px;
    min-width: 90px;
    min-height: 30px;
    width: calc(100% - 40%);
    height: auto;
    aspect-ratio: 1;
}
#Submarino {
    max-width: 180px;
    max-height: 60px;
    min-width: 90px;
    min-height: 30px;
    width: calc(100% - 40%);
    height: auto;
    aspect-ratio: 1;
}
#Destructor {
    max-width: 120px;
    max-height: 60px;
    min-width: 60px;
    min-height: 30px;
    width: calc(100% - 60%);
    height: auto;
    aspect-ratio: 1;
}
.tableros{
    flex: 5;
    display: flex;
    justify-content: space-between;
    padding: none;
    padding-left: 10px;
    flex-wrap: wrap;
    background-image: url(../BattleShip_Lab_Assets/Fondo_Agua.jpg);
}
.Board_Unity {
    margin-top: 10px;
    flex: 1;
    max-width: 660px;
    min-width: 330px;
    margin-right: 5%;
}
.Board_Title_Card {
    text-align: center;
    margin: 0px;
    height: auto;
    padding-left: 0px;
    margin-bottom: 10px;
    color:rgb(255, 72, 0);
    font-size: 1.5rem;
    font-weight: bold;
}
.Board{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    row-gap: 0;
    column-gap: 0;
}
.casilla{
    border: 1px solid black;
    aspect-ratio: 1;
    min-height: 30px;
    min-width: 30px;
    max-height: 60px;
    max-width: 60px;
    padding: none;
    margin: none;
    background-color: rgb(240, 248, 255, 75%);
}
.casilla:hover{
    background-color: rgba(255, 136, 152, 0.7);
    cursor: pointer;
}
.BLANK{
    border: none;
    text-align: center;
    place-self: center;
    font-weight: bolder;
    justify-self: stretch;
}
.BLANK:hover{
    background-color: rgb(240, 248, 255, 75%);
    cursor: default;
}
.casilla_vacia{
    border: none;
    text-align: center;
    place-self: center;
    font-weight: bolder;
    justify-self: stretch;
    background-color: transparent;
}
.casilla_vacia:hover{
    background-color: transparent;
    cursor: default;
}
